//公共变量
// 颜色定义规范
$color-index-bg = #333
$color-model-bg = #666666
//字体颜色最重的那个
$color-model-color-heavier = #cccccc
//中等颜色
$color-model-color = #dddddd
//浅色
$color-model-color-tint = #eeeeee
//行标题颜色  类似主页 推荐
$color-line-title = #ffffff
//内容部分被按钮遮挡住的部分
$content-margin-bottom = 55px
// 文章页面title字体格式  2行文本溢出隐藏
.comment-Title
  text-align left
  color #474B4C
  font-size 1rem
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;

//********************************************

//公共方法
//宽高相同
widthToHeight(data)
    width data
    height @wdith
// 不换行
no-wrap()
    text-overflow: ellipsis
    overflow: hidden
    white-space: nowrap
//********************************************


//公共class
.text-center
  text-align: center
.text-left
  text-align: left
.text-right
  text-align: right
.spuerCar_btn
  padding: 0
  margin: 0
  box-shadow: none
  border: 1px solid #dddddd
  border-radius 3px
  padding: .5rem 1rem 
.fl-right{
  float right  
}
.fl-left{
  float left  
}
  //********************************************